html, body { height: 100% }

body {
  font-family: helvetica, "helvetica neue", arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255,255,255); /* Old browsers */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 65%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 65%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 65%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 65%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 65%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#jsWarn {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  position: fixed;
  background-color: #ffffff;
  text-align: center;
}

.ui-button-text { font-size: 1em; }

#header {
  vertical-align: middle;
  padding: .25em;
  border-bottom: #a0a0a0 1px solid;
  background: rgb(195,205,216); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(195,205,216,1) 0%, rgba(230,235,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,205,216,1)), color-stop(100%,rgba(230,235,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(195,205,216,1) 0%,rgba(230,235,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(195,205,216,1) 0%,rgba(230,235,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(195,205,216,1) 0%,rgba(230,235,242,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(195,205,216,1) 0%,rgba(230,235,242,1) 100%); /* W3C */
  filter: 
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3cdd8', endColorstr='#e6ebf2',GradientType=0 )
    progid:DXImageTransform.Microsoft.DropShadow(offX=-2,offY=2,color=ffffff)
  ; /* IE6-9 */
  text-shadow: #ffffff -2px 2px 1px;
}

#header-logo, #header-logo-form {
  display: inline;
  margin: 0 0 0 .5em;
  padding: 0;
  font-size: 1.5em;
}
#header-logo a {
  color: #000000;
  text-decoration: none;
}

#header-buttons {
  float: right;
  display: inline;
} 
#header-buttons button, #header-logo-form [type="button"], #header-logo-form [type="submit"] {
  height: 2em;
}

#saveboard-password, 
#createboard-password1, 
#createboard-password2,
#addlist-name { 
  display: block;
  width: 80%;
  margin: 0 auto;
}

#createboard-passwordErrors {
  list-style-type: none;
  padding: 0;
  margin: 1em auto;
}
#createboard-passwordErrors li {
  margin: 0;
  padding: 0;
}

#d-editlist {
  font-size: .75em;
}
#editlist-fields {
  margin: .25em 0;
}
#editlist, #editlist-fields dd, #editlist-fields dt {
  margin: 0;
  padding: 0;
}
#editlist-fields input {
  width: 14em;
}
#editlist-form label {
  font-weight: bold;
}
#editlist-form table {
  margin: 1em auto;
  width: 100%;
}
#editlist-form table td {
  padding: 0;
  margin: .25 .25 0 0;
}
.editlist-item-handle {
  margin: 0;
  padding: 0;
  width: .5em;
  background: rgb(232,232,232); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(208,208,208,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(208,208,208,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
  border: 1px #a0a0a0 solid;
  -moz-border-radius: .25em; 
  -webkit-border-radius: .25em; 
  -khtml-border-radius: .25em; 
  border-radius: .25em;
  cursor: move;
}
#editlist-form table input[type="text"] {
  margin: 0;
  width: 100%;
}
.editlist-item-remove {
  margin: 0 auto;
  display: block;
}
#editlist-item-add {
  margin: .25em 0;
  text-align: center;
}
#editlist-item-add>a:link {
  margin: .25em 0;
  text-decoration: none;
  color: #3f5f7f; 
  font-weight: bold;
}

.list {
  -moz-border-radius: .25em; 
  -webkit-border-radius: .25em; 
  -khtml-border-radius: .25em; 
  border-radius: .25em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: relative;
  width: 14em;
  margin: .5em; 
  background-color: #e8e8e8;
  border: #cccccc 1px solid;
}

.list h2 {
  -moz-border-radius-topleft: .25em; 
  -moz-border-radius-topright: .25em; 
  -webkit-border-top-left-radius: .25em; 
  -webkit-border-top-right-radius: .25em; 
  -khtml-border-top-left-radius: .25em; 
  -khtml-border-top-right-radius: .25em; 
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  background: rgb(232,232,232); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(208,208,208,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(208,208,208,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(208,208,208,1) 100%); /* W3C */
  filter: 
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d0d0d0',GradientType=0 )
    progid:DXImageTransform.Microsoft.DropShadow(offX=-2,offY=2,color=c3cdd8);
  text-shadow: #c3cdd8 -2px 2px 1px;
  color: #26394c;
  font-size: 1.5em;
  margin: 0;
  padding: 0 .25em;
  border-bottom: #aaaaaa 1px solid;
  cursor: move;
}
.list ul {
  margin: .5em;
  list-style-type: none;
  padding: 0;
}
.list ul li {
  text-indent: -1em; 
  padding-left: 1em;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=-1,offY=1,color=c3cdd8);
  text-shadow: #c3cdd8 -1px 1px 0px;
}
.list a {
  color: #3f5f7f;
  text-decoration: none;
}
.list a:hover {
  color: #800000;
}
.list-edit {
  float: right;
}

.hideLabel {
	position:absolute !important;
	top: -100em !important;
  left: -100em !important;
}

#props {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .25em;
  font-size: .6em;
}

#props a {
  text-decoration: none;
  color: #3f5f7f;
}